{{ define "main" }}

<!-- SITE CONTENT -->
<div class="wrapper">
    <section class="titlebar h-100">
        <h1 class="page-title"><span>{{ .Title }} </span>us</h1>
        <div id="particles-js"></div>
        <div class="about-text text-center top_90 px-5 mx-5">
            <h2 class="subtitle">{{ .Params.intro }}</h2><br>
        </div>
    </section>

    <hr class="col-md-6 bottom_60">

    <div class="cont">
        <section class="about">

            <div class="row py-5">
                <div class="col-md-6">
                    <h2 class="subtitle">Creative Team</h2>
                    <p>With a team made up off creative designers, awesome leaders, analysts, strategists and mastermind
                        engineers, your digital problems are bound to meet a top-notch solution. We take joy in pushing
                        the boundaries of technologies to deliver that unique solution you dream of.</p>
                </div>
                <div class="col-md-6">
                    <img src="/images/app-dev.svg" alt="..." class="img-fluid">
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md-6 order-md-2">
                    <h2 class="subtitle">Quality First</h2>
                    <p>We don't do <q>as long as it works</q>! We make sure we maintain the highest level of beauty in
                        order
                        to make your brand truly stand out from the crowd. And in doing so, we will never compromise on
                        quality. So you get best of both worlds</p>
                </div>
                <div class="col-md-6">
                    <img src="/images/quality.svg" alt="..." class="img-fluid">
                </div>
            </div>
            <div class="row py-5">
                <div class="col-md-6">
                    <h2 class="subtitle">Finesse solutions</h2>
                    <p>Our team are obsessed with fine details and always make sure we get even the tiniest detail right
                        before calling it a "Job done". Your happiness is our main priority (well, with regards to the
                        results of course :D), thus We design, develop and iterate until you are well pleased with the
                        results.</p>
                </div>
                <div class="col-md-6">
                    <img src="/images/finesse.svg" alt="..." class="img-fluid">
                </div>
            </div>

            <h1 class="title text-center brand mt-5 pt-5">We do these <span style="color: #ea0026;">Stuff</span> and
                more..</h1><br>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="title" class="title">Web Design &amp; Development</h3>
                    <div class="line"></div>
                </div>
                <div class="area col-md-12 item">
                    <h3 class="title">Android Applications</h3>
                    <div class="line"></div>
                </div>
                <!-- an area -->
                <div class="area col-md-12 item">
                    <h3 class="title">iOS Applications</h3>
                    <div class="line"></div>
                </div>
                <!-- an area -->
                <div class="area col-md-12 item">
                    <h3 class="title" class="title">Back-end Development</h3>
                    <div class="line"></div>
                </div>
                <!-- an area -->
                <div class="area col-md-12 item">
                    <h3 class="title">I.T Consultancy &amp; Training</h3>
                    <div class="line"></div>
                </div>
                <!-- an area -->
                <div class="area col-md-12 item">
                    <h3 class="title">e-Commerce Solution</h3>
                    <div class="line"></div>
                </div>
            </div>

            <h1 class="title text-center brand mt-5 pt-5">And we've even got <span style="color: #ea0026;">happy
                    clients</span></h1><br>


            <!-- WORK AREAS -->
            <div class="clients">
                <div class="row">
                    <!-- client -->
                    <div class="col-md-3 col-sm-6 client">
                        <figure>
                            <img src="../images/clients/madabox.png">
                        </figure>
                    </div>
                    <!-- client -->
                    <div class="col-md-3 col-sm-6 client">
                        <figure>
                            <img src="../images/clients/client-9.png">
                        </figure>
                    </div>
                    <!-- client -->
                    <div class="col-md-3 col-sm-6 client">
                        <figure>
                            <img src="../images/clients/client-7.jpg">
                        </figure>
                    </div>
                    <!-- client -->
                    <div class="col-md-3 col-sm-6 client">
                        <figure>
                            <img src="../images/clients/client-8.jpg">
                        </figure>
                    </div>
                </div>
            </div>
        </section>

    </div> <!-- cont end -->
</div> <!-- wrapper end -->

{{ end }}