{{ define "main" }}

<!-- SITE CONTENT -->
<div class="wrapper">
    <section class="titlebar">
        <h1 class="page-title"><span>Contact </span><span style="color: white !important;">us</span></h1>
        <div id="particles-js"></div>
    </section>

    <hr class="col-md-6 bottom_60">

    <div class="cont">
        <section class="contact col-md-8 offset-md-2 top_90">
            <div class="contact-info text-center">
                <p>{{ .Params.address }}</p>
                <a href="#" mail-to="support@estechnologies.ng">{{ .Params.emails }}</a>
                <p>{{ .Params.phones }}</p>
            </div>
            <div class="contact-form top_90">
                <form class="row" name="contact" data-netlify=true>
                    <div class="col-md-6">
                        <input class="inp" type="text" name="name" placeholder="Name" required>
                    </div>
                    <div class="col-md-6">
                        <input class="inp" type="text" name="email" placeholder="Email" required>
                    </div>
                    <div class="col-md-12">
                        <textarea placeholder="Your Message" name="message" rows="6" class="col-md-12 form-message" required></textarea>
                    </div>
                    <div class="col-md-12 text-center">
                        <input type="submit"  class="site-btn2">
                    </div>
                </form>
            </div>



        </section>

    </div> <!-- cont end -->
</div> <!-- wrapper end -->

{{ end }}