<!DOCTYPE html>
<html>

<head>
    {{ partial "metas.html" }}
    <title>
        {{ block "title" . }}
        {{ .Title}}
        {{ end }}
    </title>

    {{ partial "styles.html" }}
</head>

<body>
    <!-- PRELOADER -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
    </div>

    {{ partial "header/header.html" . }}

    {{ partial "menu/menu.html"}}
    {{ block "main" . }}

    {{ end }}

    {{ partial "footer/footer.html" . }}


    <!-- Javascripts -->
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="/js/typed.js"></script>
    <script src="/js/particles.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/jquery.hover3d.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/twitter-api/tweetie.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>