<footer>
    <div class="cont">
        <div class="row">
            <div class="col-md-4 d-sm-none d-md-block">
                <div class="social">
                    <a href="#"><i class="fab fa-facebook"></i> </a>
                    <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i> </a>
                    <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i> </a>
                    <a href="#"><i class="fab fa-behance" aria-hidden="true"></i> </a>
                    <a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i> </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 copyright text-center">
                <img src="../images/logo2.png" alt="">
                <p>© 2019 Encrypted Shield Technologies</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 d-none d-sm-block getintouch">
                <a href="#">
                    <strong>Get In Touch</strong><br>
                    <p>No 3. Sabo Ago Avenue, Life Camp <br/>info@estechnologies.ng</p>
                </a>
            </div>
        </div>
    </div>
</footer>