<footer>
    <div class="cont">
        <div class="row">
            <div class="col-md-4 d-sm-none d-md-block">
                <div class="social">
                    <a href="#"><i class="fab fa-facebook"></i> </a>
                    <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i> </a>
                    <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i> </a>
                    <a href="#"><i class="fab fa-behance" aria-hidden="true"></i> </a>
                    <a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i> </a>
                </div>
                <!--<p style="font-size: 14px !important; text-align: center;">No 3. Sabo Ago Avenue, Life Camp. Abuja.</p>-->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 copyright text-center">
                <img src="../images/estech-logo-white.svg" height="70" width="56" alt="">
                <p class="brand">© <span title="This is not a mistake! We Live in the Future ;)">4019</span> <span
                        style="color: #ea0026;">Encrypted Shield</span> Technologies</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 d-none d-sm-block getintouch">
                <a href="#">
                    <strong>Get In Touch</strong><br>
                    <p>+234 806 658 1505 <br />info@estechnologies.ng</p>
                </a>
            </div>
        </div>
    </div>
</footer>