<link rel="shortcut icon" href="/images/site-icon.png">
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/cubeportfolio/css/cubeportfolio.min.css" />
<link rel="stylesheet" href="/css/owl.carousel.css" />
<link rel="stylesheet" href="/css/colors/red.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/dark.css">


<!-- Google Web fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800" rel="stylesheet">


<!-- Font icons -->
<link rel="stylesheet" href="/icon-fonts/fontawesome-5.0.6/css/fontawesome-all.min.css" />
<link rel="stylesheet" href="/icon-fonts/font/flaticon.css" />