<!-- FULL MENU -->
<div class="full-menu">
    <div class="full-inner row">
        <nav class="col-md-8">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <!--
                <li><a href="/portofolio">Portofolio</a></li>
                <li><a href="/news">Blog</a></li>-->
                <li><a href="/contactus">Contact</a></li>
                <li><a href="/quote/">Request a Quote</a></li>
            </ul>
        </nav>
        <div class="col-md-4 full-contact">
            <ul>
                <li class="title">Get in Touch</li>
                <li>info@estechnologies.ng</li>
                <li>
                    <div class="social">
                        <a href="#"><i class="fab fa-facebook"></i>  </a>
                        <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i>  </a>
                        <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i>  </a>
                        <a href="#"><i class="fab fa-behance" aria-hidden="true"></i>  </a>
                        <a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i>  </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>